.container
  position: relative
  color: white
  font-size: 14px
  svg
    height: 22px
    width: 22px
  .badge
    font-size: 14px

.top-left
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  bottom: 36px
  right: 16px
  .bi-star-fill
    height: 18px
    width: 18px